<div class="row mt">
	<div class="col-xs-2 col-xs-offset-5">
		<i class="fa fa-calendar" id="current_month"> Current month: <%= Date.today.strftime("%B") %></i>
	</div>
</div>
	<div id="chartcontainer">	
    	<div id="testchart" data-circuit="" style="height: 250px;" class="loading"></div>
	</div>
</div>