<div id="monitor" class="panel panel-default tab-box"><!--index graph start-->
  <div class="panel-heading">
      <div class="panel-title">
      <i class="fa fa-signal"> Monitoring report</i>
      <ul class="nav nav-tabs pull-right">
        <li><input type="text" id="datepicker" class="form-control" ></li>
      </ul>  
  </div>
</div>
  <div class="panel-body">
      <div class="tab-content">
        <div id="chartcontainer" class="tab-pane active"> 
          <div id="testchart" data-circuit="<%= @circuits.count %>" style="height: 250px;" class="loading"></div>
        </div>
      </div>
  </div>
</div><!--index graph end-->