  <div class="panel-heading">
      <div class="row">
        <div class="col-sm-2"><h4>Your Circuits>></h4></div>
       <div class="col-sm-10">
        <div class="span pull-right">
        <% @circuits.each do |c| %>
          <label class= "mr mt">
           <input type="radio" id="<%= c.id %>" name="circuits" value="<%= c.id %>" /><%= c.description %>
          </label>
          <% end %> 
          </div>
        </div>
       </div> 
    <div class="panel-title">
    <ul class="nav nav-tabs" id="tab">
      <li class="active" data-chart="day"><a data-toggle="tab" class="nav-tab-action" href="#home" data-chart="day">Spot</a></li>
      <li data-chart="week"><a data-toggle="tab" href="#menu1"  class="nav-tab-action" data-chart="week">Hours/Day</a></li>
      <li data-chart="month"><a data-toggle="tab" href="#menu1"  class="nav-tab-action" data-chart="month">Days/Month</a></li>
      <li data-chart="year"><a data-toggle="tab" href="#menu1" class="nav-tab-action" data-chart="year">Month/Year</a></li>
    </ul>
    </div>
  </div>
 <div class="panel-body">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <div class="col-sm-9">
         <div id="chartcontainer" style="position:relative z-index:1" >  
          <div id="testchart" data-circuit="" style="height: 250px;" class="loading"></div>
         </div>
        </div>
        <div class="col-sm-3">
          <input id="basicExample" type="text" class="time ui-timepicker-input" autocomplete="off">
          <input id="basicExample2" type="text" class="time ui-timepicker-input" autocomplete="off">
          <div id="datepicker"></div>
          <div class="col-sm-2 col-md-offset-3">
           <button type="button" class="btn btn-success btn-lg mt" id="reload">Reload!</button>
          </div>
          </div>
      </div>
      <hr>
     <div class="row">
      <h1>Full day</h1>
      <div class="col-sm-12">
       <div id="chartcontainer" style="position:relative z-index:1" >  
        <div id="testchart2" data-circuit="" style="height: 200px;" class="loading"></div>
       </div>
      </div>  
     </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <div class="row">
        <div class="col-sm-9">
         <div id="chartcontainer" style="position:relative z-index:1" >  
          <div id="testchart3" data-circuit="" style="height: 250px;" class="loading"></div>
         </div>
        </div>
        <div class="col-sm-3">
          <div id="datepicker2"></div>
          <div class="col-sm-2 col-md-offset-3">
           <button type="button" class="btn btn-success btn-lg mt" id="reload">Reload!</button>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
