<div class="col-md-offset-5" id="main-title"><h2><b>General Report</b></h2></div>
  <div class="row mtbox" id="icons">          		
    <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
      <div class="box1">
      <span class="fa-stack fa-lg">
      <i class="fa fa-bolt fa-stack-2x"></i>
      </span>
      <h3><%= @circuits.count %></h3>
      </div>
      <p>Circuitos</p>
    </div>
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
       <span class="fa-stack fa-lg">
       <i class="fa fa-fire fa-stack-2x"></i>
      </span>
      <h3>3</h3>
      </div>
      <p>Alarmas</p>
    </div>
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
       <span class="fa-stack fa-lg">
       <i class="fa fa-newspaper-o fa-stack-2x"></i>
      </span>
      <h3>+2</h3>
      </div>
      <p>Reportes</p>
    </div> 
     <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
      <span class="fa-stack fa-lg">
      <i class="fa fa-rss fa-stack-2x"></i>
      <% if @status == "Problem" %>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
      <% end %>
      </span>
      <h3><%= @status %>!</h3>
      </div>
      <% if @status == "Problem" %>
        <p><%= sanitize flash["error"]%></p>
      <% else %>
        <p><%= sanitize flash["success"]%></p>
      <% end %>
    </div>
 </div><!-- /row mtbox -->	
  

            