<%= render 'general_status'%>  
<% if @circuits.count  %>
<% count = 0 %>
  <% @circuits.each do |c| %>
  <% if count.modulo(3) == 0 %>
    <div class="row"><!-- New row every 3 circuit-->
  <% end %>
  <div class="col-md-4 col-sm-4 mb">
    <div class="darkblue-panel pn">
        <div class="darkblue-header">
          <h5><%=c.description.titleize%></h5>
        </div>
        <div class="chart mt">
        <div id="linechart-<%=c.id%>" data-circuit="c.id">
       </div>
     </div>
    <p class="mt" id="p-<%=c.id%>"></p>
</div>
  </div><!-- /col-md-4 -->
   <% count += 1%>
   <% if count.modulo(3) == 0 || count == @circuits.count %>
    </div><!-- New row every 3 circuit-->
  <% end %>
  <% end %>
<% end %>

<div class="row mt">
      <div class="col-md-4 mb">
       <div class="white-panel pn">
      <div class="white-header">
        <h5>Energia Acumulada Anual</h5>
      </div>
      <p style="font-size: 50px"><b>38,500</b></p>
      <p><b>kWh</b></p>
      <div class="row">
        <div class="col-md-6">
          <p class="small mt"><i class="fa fa-calendar"></i></p>
          <p>2015</p>
        </div>
        <div class="col-md-6">
          <p class="small mt">COSTO TOTAL</p>
          <p>$ 475,567</p>
        </div>
      </div>
    </div>
  </div><!-- /col-md-4 -->
  
  <div class="col-md-4 mb">
     <div class="white-panel pn">
      <div class="white-header">
      <h5>Energia Acumulada Semana</h5>
      </div>
       <p style="font-size: 50px"><b>5,824</b></p>
       <p><b>kWh</b></p>
       <div class="row">
       <div class="col-md-6">
        <p class="small mt"><i class="fa fa-calendar"></i></p>
        <p>21/04/15</p>
         </div>
         <div class="col-md-6">
          <p class="small mt">COSTO TOTAL</p>
           <p>$ 15,597</p>
        </div>
       </div>
     </div>
  </div><!-- /col-md-4 -->
    
<div class="col-md-4 mb">
          <div class="white-panel pn">
            <div class="white-header">
            <h5>Energia Acumulada Anual</h5>
          </div>
          <p style="font-size: 50px"><b>38,500</b></p>
          <p><b>kWh</b></p>
          <div class="row">
            <div class="col-md-6">
              <p class="small mt"><i class="fa fa-calendar"></i></p>
              <p>2015</p>
            </div>
            <div class="col-md-6">
              <p class="small mt">COSTO TOTAL</p>
              <p>$ 475,567</p>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->
  </div><!-- /row mtbox -->

<div class="row mt">
  <div class="border-head">
      <h3>Kilowatts Generados</h3>
  </div>  
  <div class="custom-bar-chart">
      <ul class="y-axis">
          <li><span>10.000</span></li>
          <li><span>8.000</span></li>
          <li><span>6.000</span></li>
          <li><span>4.000</span></li>
          <li><span>2.000</span></li>
          <li><span>0</span></li>
      </ul>

      <div class="bar">
          <div class="title">JAN</div>
          <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
      </div>
      <div class="bar ">
          <div class="title">FEB</div>
          <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
      </div>
      <div class="bar ">
          <div class="title">MAR</div>
          <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
      </div>
      <div class="bar ">
          <div class="title">APR</div>
          <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
      </div>
      <div class="bar">
          <div class="title">MAY</div>
          <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
      </div>
      <div class="bar ">
          <div class="title">JUN</div>
          <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
      </div>
      <div class="bar">
          <div class="title">JUL</div>
          <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
      </div>
  </div><!--custom chart end-->
</div><!-- /row -->					
                       
         
    

      