<footer class="site-footer">
          <div class="text-center">
              2015 - Trile
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>