<!--header start-->
<header class="header black-bg">
  <div class="sidebar-toggle-box">
  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" data-togle= ""></div>
  </div>  
  <% if user_signed_in? %>
    <!--logo start-->
    <%= link_to root_url, :class => "logo" do %>
    <b>Mi TRILE</b>
    <% end %>
    <div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu">
     <h5> Bienvenido <%= current_user.name.titleize %> ! </h5>
    </ul>
  </div>
    <!--logo end-->
    <%#= render "layouts/notifications" %>
  <ul class="nav pull-right top-menu">
      <li class="notify-row" id= "top_menu_date">
        <h5> <%= Date.today.strftime("%A, %d %B %Y") %> </h5>
      </li>
      <li class="dropdown" id="logoutico">
      <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-toggle' do %>
      <i class="fa fa-sign-out"></i>
      Salir
      <% end %>
    </li>
      <% end %> 
    </ul>
  </header>
<!--header end-->
      
      